{{#partial "content"}}
    <section class="landing-pg" xmlns="http://www.w3.org/1999/html">
        </div>
        <div class="hero-desc">
            <marquee behavior="scroll" size:80px; direction="right" scrollamount="10"> <strong> SUPER-HERO SQUAD GENERATOR</strong></marquee>
            <a href="/hero-form"><button class="hero-btn btn">Create Hero</button></a>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}