{{#partial "content"}}
    <section class="landing-pg">
        <div class="success">
            {{ item }}
            <h3>Success <br>  <span>{{ item }} </span> <br>Your Hero has been created successfully!<br>{{sqId}}</h3>
            <a class="btn btn-green" href="/hero">View Heroes</a>
            <a class="btn btn-green" href="/squad">View Squads</a>
            <a href="/">Go Back</a>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}